.vote-counter {
	position: absolute;
	bottom: 0;
	left: 125px;
	height: 45px;
}
.count-down-timer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 45px;
}
.room {
	position: absolute;
	height: 100%;
	margin-right: 160px;
	left: 0;
	top: 0;
}
.player {
	right: 0;
	top: 0;
	position: absolute;
	width: 155px;
	height: 100%;
	overflow-y: scroll;
}
.card {
	width: 120px;
	height: 160px;
	margin: 1px;
	border-radius: 10px;
	padding: 5px;
	display: inline-table;
	cursor: pointer;
}
.card p {
	font-size: 0.85em;
}
.black-card {
	background-color: #0f101c;
	border: 1px solid #012;	
	color: #efd;
}
.white-card {
	background-color: #efeeed;
	border: 1px solid #bac;	
	color: #112;
}
.img-card {
	width: 120px;
	height: 120px;
	margin-top: 20px;
}
.flash-container {
	z-index: 999999;
}
.alert {
	z-index: 999999;
}